<form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="card shadow p-4 mx-auto mt-5" style="max-width: 400px;">
  <h2 class="text-center mb-4">Restablecer contraseña</h2>

  <div class="mb-3">
    <label for="password" class="form-label">Nueva contraseña</label>
    <input id="password" class="form-control" type="password" formControlName="password" placeholder="Nueva contraseña" />
    <div class="text-danger mt-1 small" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
      La contraseña es requerida
    </div>
  </div>

  <button type="submit" class="btn btn-primary w-100" [disabled]="resetForm.invalid">
    Guardar nueva contraseña
  </button>
</form>
