:host {
  display: block;
  padding: 2rem;
  padding-bottom: 6rem;
}

.form-label .required-star {
  color: red;
  margin-left: 0.1rem;
}

ngx-intl-tel-input {
  display: block;
  width: 100%;
  margin-top: 5px;
}

ngx-intl-tel-input input {
  width: 100% !important;
  min-height: 40px;
  padding: 6px 12px;
  font-size: 1rem;
}
