<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="card shadow p-4 mx-auto mt-5" style="max-width: 400px;">
  <h2 class="text-center mb-4">Recuperar contraseña</h2>

  <div class="mb-3">
    <label for="email" class="form-label">
      <i class="bi bi-envelope-fill me-1"></i> Correo electrónico
    </label>
    <input id="email" class="form-control" formControlName="email" type="email" placeholder="ejemplo@correo.com"  [readonly]="readonlyEmail"/>
    <div class="text-danger mt-1 small" *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
      Correo inválido
    </div>
  </div>

  <button type="submit" class="btn btn-primary w-100" [disabled]="forgotForm.invalid">
    <i class="bi bi-envelope-open-fill me-1"></i> Enviar instrucciones
  </button>
</form>

<div class="text-center mt-3">
  <p>
    ¿Recordaste tu contraseña?
    <a routerLink="/login" class="text-primary fw-bold">Inicia sesión</a>
  </p>
</div>
