<header class="store-header">
  <div class="logo">
    <img src="/empeños.png" alt="Logo de la tienda" />
    <h1>Tienda de Empeños</h1>
  </div>

  <nav class="nav-links">
    <button (click)="goToPawn()">💰 Empeñar</button>
    <button (click)="goToLogin()">🔑 Iniciar sesión</button>
  </nav>
</header>

<main class="store-content">

  <div class="container-icon">
    <h2>Catálogo de artículos</h2>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
    </svg>
  </div>

    <div class="products-container">

      <div class="product-card">
      <img src="../assets/products/Laptop.jpg" alt="Laptop Gamer" />
      <div class="info-product">
        <h2>Laptop Gamer</h2>
        <p class="Price">Q4500</p>
        <button>Agregar al carrito</button>
      </div>
      </div>

      <div class="product-card">
        <img src="/assets/Reloj.png" alt="Reloj" />
        <div class="info-product">
          <h2>reloj</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="pulcera" />
        <div class="info-product">
          <h2>Pulcera</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/collar.png" alt="collar" />
        <div class="info-product">
          <h2>collar</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="televisor" />
        <div class="info-product">
          <h2>televisor</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>


      <div class="product-card">
        <img src="/assets/pulcera.png" alt="anillo" />
        <div class="info-product">
          <h2>anillo</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img src="/assets/pulcera.png" alt="mocroondas" />
        <div class="info-product">
          <h2>microondas</h2>
          <p class="Price">Q4500</p>
          <button>Agregar al carrito</button>
        </div>
      </div>


    </div>


</main>


