<header class="store-header">
  <div class="logo">
    <img src="/empeños.png" alt="Logo de la tienda" />
    <h1>Tienda de Empeños</h1>
  </div>

  <nav class="nav-links">
    <button class="btn-pawn" (click)="goToPawn()"><i class="bi bi-cash-coin"></i> Empeñar</button>
    <button class="btn-login" *ngIf="!isLoggedIn()" (click)="goToLogin()"><i class="bi bi-box-arrow-in-right"></i> Iniciar sesión</button>
    <button *ngIf="isLoggedIn()" class="btn-logout" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</button>
  </nav>
</header>

<main class="store-content">
  <section class="filters">
    <input
      type="text"
      placeholder="Buscar productos..."
      [(ngModel)]="searchTerm"
      (input)="applyFilters()"
    />

    <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
      <option value="all">Todas las categorías</option>
      <option *ngFor="let cat of categories" [value]="cat.categoryId">
        {{ cat.categoryName }}
      </option>
    </select>
  </section>

  <section class="catalog">
    <h2>Catálogo de artículos</h2>

    <div class="products-container">

      <div class="product-card no-items" *ngIf="filteredItems.length === 0">
        <p>No hay artículos disponibles</p>
      </div>

      <div class="product-card" *ngFor="let item of filteredItems">
        <img [src]="item.photos" [alt]="item.nameItem" />
        <div class="info-product">
          <h3>{{ item.nameItem }}</h3>
          <p class="brand">{{ item.brand }}</p>
          <p class="description">{{ item.description }}</p>
          <p class="price">{{ formatCurrency(item.price || 0) }}</p>
          <button class="btn-add" (click)="addToCart(item)">
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="comments">
    <h2>Comentarios de clientes</h2>
    <div class="comment" *ngFor="let comment of comments">
      <h4>{{ comment.user }}</h4>
      <p>{{ comment.message }}</p>
      <small>⭐ {{ comment.rating }}/5</small>
    </div>
  </section>
</main>
