<div class="loan-application-container">
  <h2>Solicitud de Préstamo (Empeño)</h2>

  <form [formGroup]="loanForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div class="form-group">
      <label for="nameItem">Nombre del Artículo</label>
      <input type="text" id="nameItem" formControlName="nameItem" required />
    </div>

    <div class="form-group">
      <label for="brand">Marca</label>
      <input type="text" id="brand" formControlName="brand" required />
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="specification">Especificaciones</label>
      <textarea id="specification" formControlName="specification"></textarea>
    </div>

    <div class="form-group">
      <label for="categoryId">Categoría</label>
      <select class="form-select form-select-sm" id="categoryId" formControlName="categoryId">
        <option value="" selected>Seleccione una categoría</option>
        <option *ngFor="let category of categories" [value]="category.categoryId">
          {{ category.categoryName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantityPayments">Cantidad de pagos</label>
      <input type="number" id="quantityPayments" formControlName="quantityPayments" min="1" />
    </div>

    <div class="form-group">
      <label for="estimatedValue">Valor estimado del préstamo</label>
      <div class="input-with-prefix">
        <span class="prefix">GTQ</span>
        <input type="number" id="estimatedValue" formControlName="estimatedValue" min="0" step="0.01" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="formFileMultiple">Fotos del artículo</label>
      <input class="form-control" type="file" id="formFileMultiple" (change)="onFileSelected($event)" multiple>
    </div>

    <button class="submit-btn" type="submit" [disabled]="loanForm.invalid">Enviar Solicitud</button>
  </form>
</div>
