<header class="store-header d-flex justify-content-between align-items-center p-3">
  <div class="logo d-flex align-items-center" (click)="goToStore()">
    <img src="assets/empenos.png" alt="Logo de la tienda"/>
    <h1 class="m-0">Tienda de Empeños Solutec</h1>
  </div>

  <nav class="nav-links d-flex align-items-center">
    <div class="cart position-relative me-3">
      <a routerLink="/cart" class="text-decoration-none">
        <i class="bi bi-cart-fill fs-4 cart-icon"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          *ngIf="cartCount > 0"
        >
        {{ cartCount }}
        <span class="visually-hidden">artículos en el carrito</span>
      </span>
      </a>
    </div>
    <div class="user-dropdown" (click)="toggleDropdown()" [class.open]="dropdownOpen">
      <i class="bi bi-person-circle user-icon"></i>
      <span class="user-label">
        <ng-container *ngIf="isLoggedIn(); else notLogged">
          {{ currentUser?.name }}
        </ng-container>
        <ng-template #notLogged>Iniciar sesión</ng-template>
      </span>

      <ul class="dropdown-menu-custom" *ngIf="dropdownOpen">
        <ng-container *ngIf="!isLoggedIn()">
          <li>
            <a (click)="goToLogin()">
              <i class="bi bi-box-arrow-in-right me-2"></i>
              Iniciar sesión
            </a>
          </li>
          <li>
            <a (click)="goToRegister()">
              <i class="bi bi-person-plus me-2"></i>
              Registrarse
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
          <li *ngIf="can('EDIT_PROFILE')">
            <a routerLink="/profile">
              <i class="bi bi-person-badge me-2"></i>
              Perfil
            </a>
          </li>
          <li>
            <a routerLink="/settings">
              <i class="bi bi-gear me-2"></i>
              Configuración
            </a>
          </li>
          <li>
            <a (click)="goToReportPayment()">
              Reporte de pagos
            </a>
          </li>
          <li>
            <a (click)="goToReviewPayments()">
              Revisar Pagos
            </a>
          </li>
          <li *ngIf="can('UPLOAD_DOCUMENT')">
            <a (click)="goToPawn()">
              <i class="bi bi-gem me-2"></i>
              Empeñar
            </a>
          </li>
          <li *ngIf="can('VIEW_ALL_ORDERS')">
            <a (click)="goToPawnRequests()">
              <i class="bi bi-inbox-fill me-2"></i>
              Solicitudes de empeño
            </a>
          </li>
          <li class="nav-item" *ngIf="can('VIEW_HISTORY')">
            <a class="nav-link" (click)="goToHistory()" style="cursor: pointer;">
              <i class="bi bi-clock-history me-2"></i>
              Mi Historial
            </a>
          </li>
          <li class="nav-item" *ngIf="can('VIEW_HISTORY')">
            <a class="nav-link"(click)="goToContracts()" style="cursor: pointer;">
              <i class="bi bi-file-earmark-text me-2"></i>
              Mis Contratos
            </a>
          </li>
          <li class="nav-item" *ngIf="can('MANAGE_PARAMETERS')">
            <a class="nav-link" (click)="goToParameters()" style="cursor: pointer;">
              <i class="bi bi-sliders me-2"></i>
              Parámetros
            </a>
          </li>
          <li *ngIf="can('ALL_PERMISSION')">
            <a (click)="goToAdminUsers()">
              <i class="bi bi-people-fill me-2"></i>
              Administrar Usuarios
            </a>
          </li>
          <li *ngIf="can('ALL_PERMISSION')">
            <a (click)="goToRoles()">
              <i class="bi bi-shield-check me-2"></i>
              Administrar Roles
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="text-danger" (click)="logout()">
              <i class="bi bi-box-arrow-right me-2"></i>
              Cerrar sesión
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <div class="footer-content">
    <p>
      <img src="assets/empenos.png" alt="Logo del negocio" class="footer-logo"/>
      © {{ currentYear }} 036 - Desarrollo Web |
      <a href="#" (click)="showPrivacyPolicy($event)">
        <i class="bi bi-shield-lock me-1"></i>
        Política de Privacidad
      </a> |
      <a href="#" (click)="showTerms($event)">
        <i class="bi bi-file-text me-1"></i>
        Términos y Condiciones
      </a>
    </p>
  </div>
</footer>
