<div class="container mt-4">
  <h2>Solicitudes de Empeño</h2>

  <div *ngIf="loading">Cargando...</div>

  <table class="table table-bordered table-striped mt-3" *ngIf="!loading">
    <thead>
    <tr>
      <th>ID</th>
      <th>Artículo</th>
      <th>Marca</th>
      <th>Pagos</th>
      <th>Fecha</th>
      <th>Fotos</th>
      <th>Monto solicitado</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let app of applications">
      <td>{{ app.loanApplicationId }}</td>
      <td>{{ app.itemName }}</td>
      <td>{{ app.brand }}</td>
      <td>{{ app.quantityPayments }}</td>
      <td>{{ app.applicationDate | date:'dd/MM/yyyy' }}</td>
      <!--<td>{{ app.applicationDate | date:'dd/MM/yyyy hh:mm a':'UTC' }}</td>-->
      <td>
        <div class="photo-container" *ngFor="let url of app.photoUrls">
          <img [src]="url" alt="foto" class="photo-preview">
        </div>
      </td>
      <td> {{ app.requestedAmount | currency:'GTQ':'symbol':'1.2-2':'es-GT' }} </td>
      <td>
      <span
        class="badge"
        [ngClass]="{
          'bg-secondary': app.status === 'PENDIENTE',
          'bg-success': app.status === 'CLIENTE_ACEPTO',
          'bg-danger': app.status === 'RECHAZADO',
          'bg-warning text-dark': app.status === 'APROBADO_PENDIENTE_CLIENTE',
        }">
        {{ app.status }}
      </span>
      </td>

      <td class="actions-cell">
        <ng-container *ngIf="app.status === 'PENDIENTE';">
          <button
            class="btn btn-success btn-sm me-1"
            (click)="accept(app)">
            Aceptar
          </button>

          <button
            class="btn btn-danger btn-sm me-1"
            (click)="reject(app)">
            Rechazar
          </button>

          <!--<div class="input-group input-group-sm mt-1">
            <input
              type="number"
              class="form-control"
              placeholder="Contraoferta GTQ"
              [(ngModel)]="counterOfferValues[app.loanApplicationId]">
            <button
              class="btn btn-warning"
              (click)="sendCounterOffer(app)">
              Contraofertar
            </button>
          </div>-->
        </ng-container>
        <button
          class="btn btn-info btn-sm mt-1"
          (click)="openDetail(app)">
          Detalles
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
